body {
  color: #00008b;
  background-color: #fffff0;
  font-family: "Open Sans", sans-serif;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
}

img {
  float: left;
  margin-right: 10px;
}

div.menu {
  width: 100%;
  margin-left: 100px;
}
div.menu a {
  padding: 0 20px 0 20px;
  width: 200px;
}

article {
  width: 100%;
}


div.section2 {
  display: inline-block;
  width: 300px;
}

div.section3 {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

div.section4 {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

