body {
  color: #ffffff;
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
}

img {
  float: left;
  margin-right: 10px;
}

img.home {
  width: 300px;
  height: 300px;
}

nav {
  columns: 3, 300px;
}

.left {
  float: left;
  width: 300px;
}

.center {
  padding: 0 10px 0 10px;
  width: 300px;
  display: inline-block;
}

.right {
  float: right;
  width: 300px;
}